@model BarmanBank.ViewModels.LoginViewModel
<h2>Login</h2>
<form asp-action="Login" method="post">
    <input asp-for="Username" placeholder="Username" />
    <span asp-validation-for="Username"></span>
    <input asp-for="Password" type="password" placeholder="Password" />
    <span asp-validation-for="Password"></span>
    <button type="submit">Login</button>
</form>
<div>
    <p><a asp-action="Register">Register</a></p>    
</div>
